################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/SupportAssignmentSystem.Core/bin/Debug/net9.0
