################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore the following folders for C# projects
src/**/bin/**
src/**/obj/**
.vs
